/* トップ */

.mv_body {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    min-height: 650px;
    background-color: #EDFAFF;
}

.mv_section.wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    max-height: 650px;
    width: 100%;
}

.mv_inner {
    display: block;
    width: 35%;
    min-height: 650px;
    position: relative;
}



/* ここからスライダー*/
.slider {

    width: 943px;
    height: 650px;
    overflow: hidden;
    position: relative;
    max-width: 100%;
    object-fit: cover;
    border-bottom-left-radius: 60px;
}

.slider div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 10;
    opacity: 0;
    animation-name: slide-fade;
    animation-duration: 15s;
    animation-iteration-count: infinite;
}

@keyframes slide-fade {
    0% {
        opacity: 0;
    }

    20% {
        opacity: 1;
    }

    80% {
        opacity: 0;
    }

    100% {
        opacity: 0;
        z-index: 0;
    }
}

.slider div:first-of-type {
    background-image: url(../image/mv-image.png)
}

.slider div:nth-of-type(2) {
    background-image: url(../image/mv-image02.png);
    animation-delay: 5s;
}

.slider div:last-of-type {
    background-image: url(../image/mv-image03.png);
    animation-delay: 10s;
}




/* ここまでスライダー*/


/* ここからメインタイトル*/
.text_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    writing-mode: vertical-lr;
    gap: 42px;
    position: absolute;
    top: 15%;
    left: 40%;
}


.mv_title-first,
.mv_title-second {
    display: block;
    font-size: 45px;
    font-weight: normal;
    color: #4A4A4A;
    text-align: center;
    margin: 0;
    letter-spacing: 20px;
    writing-mode: vertical-rl;
}

.mv_title-first {
    position: relative;
}

.mv_title-second {
    margin-top: 130px;
}

.mv_title-first::before {
    display: block;
    content: "#";
    position: absolute;
    transform: translateX(-50%) rotate(90deg);
    left: 20%;
    top: -40px;
}










/* ここまでメインタイトル*/

/* スマホ対応 */
@media screen and (max-width:762px) {

    .slider {
        width: 330px;
        height: 507px;
    }

    .mv_body {
        min-height: 507px;

    }

    .mv_inner {
        display: block;
        width: 18%;
        position: relative;
    }

    .mv_section.wrapper {
        max-height: 507px;
        min-width: 403px;
        width: 100%;
    }

    .text_container {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        writing-mode: unset;
        font-size: 32px;
        z-index: 9998;
        top: 18%;
        left: 32%;

        gap: 0px;
    }

    .mv_title-first {
        top: 0px;
        letter-spacing: 12px;
        margin-top: 21px;
    }


    .mv_title-second {
        margin-top: 0px;
        letter-spacing: 12px;
    }

    .mv_title-first::before {
        top: -40px;

    }

    .mv_title-first,
    .mv_title-second {
        font-size: 32px;
    }
}




/* 学校についての縦書き文字*/

.purpose_container {
    width: 24%;
}

.purpose_inner {
    writing-mode: vertical-rl;
    font-size: 30px;
    font-weight: 300;
    margin: 0 auto;
    max-height: 706px;
    color: #4A4A4A;
    line-height: 220%;
    margin-top: 43px;
    letter-spacing: 8px;

}


.normal-text {
    font-size: 30px;
    color: #4A4A4A;
    font-weight: 300;
    letter-spacing: 30%;
}

.font-pink {
    color: #C71B6E;
}


.line {
    display: flex;
    /* インラインブロックで安定配置 */
    text-align: center;
    /* 中央配置 */
    margin: 0 20px;
    /* 各要素の間隔 */
}

.purpose_inner span {
    display: inline-block;
    /* インラインブロックで安定配置 */
    writing-mode: vertical-rl;
    /* 縦書き */
    white-space: nowrap;
}


/* オープンキャンパス受付中のバナー*/

.open-campus-link {
    display: block;
    text-decoration: none;
}

.open-campus_content {
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: 100px;
    max-height: 130px;
    height: auto;
    background-color: #FFF8C6;
    position: absolute;
    right: 0px;
    bottom: 0px;
    align-items: center;
    gap: 5px;
    box-shadow: 100px 0 0 0 #FFF8C6, -100px 0 0 0 #FFF8C6;
    /* 右と左に色を追加 */
    z-index: 1;
}



.open-campus_title {
    display: inline-block;
    font-size: 20px;
}




.open_info {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    font-size: 20px;
    font-weight: 500;
    text-align: left;
    height: 50%;
    max-height: 130px;
}


.open_date {
    display: flex;
    align-items: flex-end;
    gap: 8px;
    height: 70px;
    min-width: 120px;
    color: #1C81A6;

}


.open-campus_date {
    line-height: 64px;
    color: #1C81A6;
    font-weight: 600;
    margin: 0;
    font-size: 64px;
    letter-spacing: -0.02em;
}

.open-campus_date span {
    font-weight: 300;
}

.open-campus_day {
    font-size: 20px;
    font-weight: 500;
}

@media screen and (max-width: 1058px) {
    .open-campus_content {
        left: 0;
        text-align: center;
        width: 80vw;
    }

}


@media screen and (max-width: 762px) {

    .open_info {
        font-size: 15px;
        line-height: 150%;
    }


    .open-campus_title,
    .open-campus_day {
        font-size: 15px;
    }

    .open-campus_date {
        font-size: 48px;
    }

    .open-campus_content {
        width: 100vw;
        box-shadow: 100px 0 0 0 #FFF8C6, -100px 0 0 0 #FFF8C6;
        align-items: flex-end;
        z-index: 1;
        min-height: 130px;
        bottom: 5px;
        padding-bottom: 10px;

    }
}


/* イベント*/

.event_wrap.wrapper {
    /* スタイル指定 */
    width: 90%;
    max-width: 1041px;
    margin: 0 auto;
}

.event_wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
}

/* 日本語タイトル */
.event_title-jp {
    font-weight: normal;
    font-size: 14px;
    position: relative;
    padding-left: 75px;
    margin-left: 0px;
    /* 英語タイトルと揃えるために余白調整 */
    text-align: left;
}

.event_title-jp::before {
    content: '';
    position: absolute;
    left: 25%;
    top: 50%;
    width: 71px;
    height: 1px;
    background-color: #1C81A6;
    transform: translate(-50%);
}

/* 英語タイトル */
.event_title-en {
    display: block;
    text-align: left;
    font-size: 48px;
    font-weight: 200;
    text-transform: uppercase;
    margin-left: 0;
    letter-spacing: 0.3em;
    padding-top: 2px;
}


.event-introduction {
    display: flex;
    justify-content: center;
}

.event-link {
    display: block;
    text-decoration: none;
}

.event_content {
    max-width: 1040px;
}

.event_inner-box {
    width: 100%;
    padding-top: 25px;
}

.event_item {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.event_title-name {
    color: #1C81A6;
    font-size: 20px;
    font-weight: bold;

}

.event-content {
    margin-top: 25px;
    margin-bottom: 20px;
    color: #4A4A4A;

}


/* イベント情報*/

.event_wrap.wrapper {
    /* スタイル指定 */
    width: 90%;
    max-width: 1041px;
    margin: 0 auto;
}

.event_section {
    display: flex;
    justify-content: center;
    margin-top: 152px;
    width: 100%;
}

.event_wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
}




/* 日本語タイトル */
.event_title-jp {
    font-weight: normal;
    font-size: 14px;
    position: relative;
    padding-left: 75px;
    margin-left: 0px;
    /* 英語タイトルと揃えるために余白調整 */
    text-align: left;
}

.event_title-jp::before {
    content: '';
    position: absolute;
    left: 25%;
    top: 50%;
    width: 71px;
    height: 1px;
    background-color: #1C81A6;
    transform: translate(-50%);
}

/* 英語タイトル */
.event_title-en {
    display: block;
    text-align: left;
    font-size: 48px;
    font-weight: 200;
    text-transform: uppercase;
    margin-left: 0;
    letter-spacing: 0.3em;
    padding-top: 2px;
}




.event_content {
    max-width: 1040px;
}

.event_inner {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: auto;
    padding-top: 56px;
    position: relative;

}

.event_item {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.event_title-name {
    font-size: 20px;
    font-weight: bold;
    padding-top: 20px;
}

.event-content {
    color: #4A4A4A;
    margin-bottom: 20px;
}

@media screen and (max-width: 762px) {
    .event-introduction {
        width: 100%;
        height: 185px;
    }

    .event-img {
        object-fit: cover;
    }

    .event_wrap.wrapper {
        width: 100%;
    }

    .event-content {
        width: 100%;
        margin: 0 auto;

    }

    .event_title-name {
        text-align: center;
        padding-top: 0px;
    }

    .event_section {
        margin-top: 165px;
    }

    .event_item {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }


    .event_inner-box {
        display: flex;
        flex-direction: column;
        width: 75%;
        margin: 0 auto;
        gap: 20px;
    }

    .event_inner {
        width: 100%;
        padding-top: 50px;
    }

    .event_title-jp,
    .event_title-en {
        display: block;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }


}





/* アバウトアズ*/

.aboutus-link {
    display: block;
    text-decoration: none;
}



.aboutus_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
    width: 100%;
    background-color: #EDFAFF;
    padding-bottom: 50px;

}


.aboutus_wrap.wrapper {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;

}

.aboutus_title-jp {
    font-weight: normal;
    font-size: 14px;
    position: relative;
    padding-left: 75px;
    margin-left: 0px;
    /* 英語タイトルと揃えるために余白調整 */
    text-align: left;
}

.aboutus_title-jp::before {
    content: '';
    position: absolute;
    left: 16%;
    top: 50%;
    width: 71px;
    height: 1px;
    background-color: #1C81A6;
    transform: translate(-50%);
}

.about_title-en {
    display: block;
    text-align: left;
    font-size: 38px;
    font-weight: 200;
    text-transform: uppercase;
    margin-left: 0;
    letter-spacing: 0.3em;
    padding-top: 2px;
}


.aboutus_content-main {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    margin-bottom: 10px;
    margin-top: 30px;
}

.aboutus_content-left {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    gap: 94px;

}

.aboutus_content-right {
    position: relative;
    width: 100%;
    height: auto;
}



.aboutus-main_inner {
    display: flex;
    flex-direction: column;
}


.aboutus-img-main {

    display: block;
    border-radius: 20px;
    position: relative;
    /* 基本位置 */
    z-index: 1;
    /* タイトルより下に表示 */
    object-fit: cover;
}

.aboutus-img-main img {
    width: 100%;
    height: auto;
    overflow: hidden;
    z-index: 11;
}




.aboutus_title-main {
    background-color: #fff;
    text-align: center;
    display: inline-block;
    box-sizing: border-box;
    border-radius: 20px 0 20px 20px;
    position: relative;
    z-index: 1;
    margin-top: -10px;
    transform: translateY(-120px);

}

.aboutus_title-name {
    display: inline-block;
    font-size: 35px;
    font-weight: bold;
    padding: 39px 76px;

}

.aboutus_content-sub {
    display: flex;
    justify-content: center;
    gap: 13px;

    position: relative;
    z-index: 5;
    margin-top: -100px;
    margin-bottom: 50px;
}

.aboutus-sub {
    padding-top: 22px;
    font-size: 15px;
    font-weight: bold;
}



.aboutus-sub_inner {
    width: 100%;
    height: auto;
    position: relative;
    min-height: 227px;
    border-radius: 20px 0 20px 20px;
    background-color: #fff;

}

.sub_content-image {
    width: 100%;
    height: auto;
    max-width: 100%;
    overflow: hidden;
    position: relative;
}



.aboutus-img-sub {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 5;
}


.aboutus_title-sub {
    text-align: center;
}

/* 円を作る */
.circle {
    width: 40px;
    height: 40px;
    background-color: #1C81A6;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 20px;
    font-weight: 400;
    position: absolute;
    top: -20px;
    left: 0px;
    z-index: 9999;
}

.hash {
    font-size: 15px;
}

.hash_main {
    font-size: 30px;
}

.circle_main {
    font-size: 38px;
    font-weight: 400;
    position: absolute;
    top: -20px;
    left: -13px;
    z-index: 9998;
}



@media screen and (max-width: 762px) {
    .aboutus_wrap.wrapper {
        width: 75%;
    }

    .hash_main {
        font-size: 15px;
    }

    .circle_main {
        width: 40px;
        height: 40px;
        background-color: #1C81A6;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        font-size: 20px;
        font-weight: 400;
        position: absolute;
        top: -230px;
        left: 0px;
        z-index: 9999;
    }

    .aboutus_section {
        margin-top: 50px;
    }

    .aboutus_content-main {
        display: flex;
        flex-direction: column;
        gap: 0px;
        margin-bottom: 0px;
        margin-top: 0px;

    }

    .aboutus_title-main {
        transform: translateY(-20px);
        margin-top: 0px;
        z-index: 9999;
        width: 100%;
    }

    .aboutus_content-left {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 50px;
        padding-bottom: 35px;
        gap: 50px;
    }

    .aboutus_title-name {

        font-size: 15px;
        width: 100%;
        padding: 23px 0px;
    }

    .aboutus_content-right {
        width: 100%;
        margin-bottom: 0px;
    }


    .aboutus_content-sub {
        display: flex;
        flex-direction: column;

        align-items: center;
        position: relative;
        z-index: 5;
        margin-top: 20px;
        margin-bottom: 28px;
    }

    .aboutus-sub {
        padding: 23px 0px;
    }
}




/* コースセクション*/

.course.wrapper {
    width: 100%;
    max-width: 1440px;
    margin-left: 0px;
}


.course_wrap {
    display: flex;
    margin-top: 62px;

}


.course_section {
    margin-top: 147px;
}


.course_content {
    display: flex;
    flex-direction: column;
    width: 75%;
    gap: 10px;

}

.course_title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 8%;

}

.course_title-jp {
    display: inline-block;
    font-weight: normal;
    font-size: 14px;
    position: relative;
    padding-left: 102px;
    margin-left: 0px;
    text-align: left;
}

.course_title-jp::before {
    content: '';
    position: absolute;
    left: 4%;
    top: 50%;
    width: 90px;
    height: 1px;
    background-color: #1C81A6;
    transform: translate(-50%);
}

/* 英語タイトル */
.course_title-en {
    display: block;
    text-align: left;
    font-size: 48px;
    font-weight: 200;
    text-transform: uppercase;
    margin-left: 0;
    letter-spacing: 0.3em;
    padding-top: 2px;
}


/* ヘアメイクコース */

.course-link {
    display: block;
    text-decoration: none;
}

.course_outline {
    position: relative;
    overflow: hidden;
    aspect-ratio: 1070 / 403;

}

.hairstylist-img {
    width: 100%;
    display: block;
    object-fit: cover;

}

.esthe-img {
    width: 100%;
    display: block;
    object-fit: cover;
}



.inner-title {
    width: 70%;
    line-height: 130%;
    display: block;

    margin: 0 auto;
    text-align: center;

}


.img-wrapper01 {
    background-image: url('/image/gradation03.jpg');
}

.img-wrapper02 {
    background-image: url('/image/gradation02.jpg');
}

.img-wrapper03 {
    background-image: url('/image/gradation01.jpg');
}



.img-wrapper01,
.img-wrapper02,
.img-wrapper03 {
    position: absolute;
    right: 0%;
    bottom: 0px;
    width: 100%;
    aspect-ratio: 461 / 170;
    max-width: 461px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* フェードイン左から右 */


.fade-in-left {
    opacity: 0;
    transform: translateX(-50px);
    transition: opacity 0.8s ease, transform 0.8s ease;
}

.fade-in-left.visible {
    opacity: 1;
    transform: translateX(0);
}




.course-text {
    font-size: 15px;
    color: #4A4A4A;
    line-height: 150%;
    margin-top: 12px;
    display: flex;
    /* フレックスボックス適用 */
    justify-content: center;
    /* コンテナを中央配置 */
    align-items: center;
    text-align: left;
    width: 100%;
    word-break: break-word;


}

.inner-hair {
    display: inline-block;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 32px 0px 22px;
    z-index: 10;
}

.underline {
    margin: 0 auto;
    width: 100%;
    height: 1px;
    background-color: #4A4A4A;


}

.inner-title-main {}





.additional-name {
    position: relative;
    display: inline-block;
    padding-bottom: 14px;
    text-align: center;
    font-weight: 600;
    color: #4A4A4A;
}



/* ヘアメイク */

.course_inner {
    display: flex;
    flex-direction: column;

}


.course-name02:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 100%;
    /* 線の長さ */
    height: 1px;
    background-color: #4A4A4A;
    transform: translateX(-50%);
}

.course-name03:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 100%;
    /* 線の長さ */
    height: 1px;
    background-color: #4A4A4A;
    transform: translateX(-50%);
}


.course-name01,
.course-name02,
.course-name03 {
    position: relative;
    display: inline;

    text-align: center;
    font-size: 22px;
    color: #4A4A4A;
    font-weight: bold;
    white-space: nowrap;
    text-align: center;
}

.course-name02,
.course-name03 {
    display: block;
    padding-bottom: 14px;

    align-items: center;
}





.gradation-img {
    display: block;
    max-width: 43%;
    max-width: 461px;
    height: auto;
    object-fit: contain;
    /* 縦横比を維持しつつ親要素に収まる */
}


@media screen and (max-width: 762px) {


    .course_wrap {
        flex-direction: column-reverse;
        margin-top: 58px;
    }


    .course_section {
        margin-top: 43px;
    }


    .course_title {
        margin: 0 auto;
        width: fit-content;

    }

    .course_title-en {
        font-size: 48px;
    }

    .course_title-jp {
        font-size: 14px;
        padding-left: 86px;
    }

    .course_title-jp::before {
        left: 20%;
    }


    .purpose_container {
        width: 100%;
        padding-bottom: 50px;
    }

    .purpose_inner,
    .purpose_inner span {
        writing-mode: horizontal-tb;
        font-size: 24px;
        line-height: 130%;
        margin-top: 0px;
        width: 75%;
        letter-spacing: 0px;
    }


    .purpose_inner span {
        display: inline;
    }


    .only-pc {
        display: none;
    }

    .course_content {
        width: 100%;
        gap: 15px;
    }

    .course_outline {
        width: 100%;
        aspect-ratio: unset;
    }

    .img-wrapper01,
    .img-wrapper02,
    .img-wrapper03 {
        position: relative;
        max-width: 100%;
        aspect-ratio: unset;

    }

    .course-text {
        font-size: 13px;
    }

    .additional-name {
        font-size: 14px;
        padding-bottom: 5px;
    }


    .course-name02,
    .course-name03 {
        font-size: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        width: 100%;
        text-align: center;
    }


    .inner-title-main {

        line-height: 1.4;
    }

    .course-name01,
    .additional-name {
        display: inline-block;
        margin: 0;
        padding: 0;
    }

    .underline {
        margin-top: 5px;
    }

    .inner-title {
        padding: 10px 0px;
    }

}






/* ニュースセクション*/

.news_section.wrapper {
    width: 62%;
    margin: 0 auto 150px auto;

}


/* タイトル部分 */
.news_title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* 左寄せ */
    justify-content: flex-start;
    max-width: 100%;

}



/* 日本語タイトル */
.news_jp {
    font-weight: normal;
    font-size: 14px;
    position: relative;
    padding-left: 90px;
    margin-left: 0;
    /* 英語タイトルと揃えるために余白調整 */
    text-align: left;
}

/* 線のスタイル */
.news_jp::before {
    content: '';
    position: absolute;
    left: 0;
    /* 左端に配置 */
    top: 50%;
    width: 90px;
    /* 線の長さ */
    height: 1px;
    background-color: #1C81A6;
    transform: translateY(-50%);
    /* 縦方向中央揃え */
}

/* 英語タイトル */
.news_en {
    display: block;
    text-align: left;
    font-size: 48px;
    font-weight: 200;
    text-transform: uppercase;
    margin-left: 0;
    letter-spacing: 0.3em;
    padding-top: 2px;
}



.news_wrap {
    display: flex;
    justify-content: center;
    width: 100%;
}


.news_content {
    display: inline-block;
    width: 100%;
    align-items: center;
}

.news_list {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    width: 100%;
    height: auto;
    min-height: 290px;
    gap: 50px;
    margin-top: 50px;
    margin-bottom: 56px;
}

.news_item {
    display: flex;
    justify-content: flex-start;
    /* テキストは左寄せ */
    align-items: center;
    /* 中央揃え */
    width: 100%;
    height: auto;
}


.news_date {
    margin-right: 74px;
    color: #4A4A4A;
    font-size: 15px;
}

.category_button-new {
    color: #4A4A4A;
    font-size: 15px;
    margin-right: 50px;
    padding: 3px 20px 5px 8px;
    background-color: #E5FFDC;
}

.category_button-event {
    margin-right: 50px;
    padding: 3px 20px 5px 8px;
    background-color: #E5DCFF;
}

.category_button-test {
    margin-right: 50px;
    padding: 3px 20px 5px 8px;
    background-color: #DCFBFF;
}

@media screen and (max-width: 762px) {


    .news_section.wrapper {
        width: 75%;
    }

    .news_title {
        margin: 0 auto;
        width: fit-content;
    }

    .news_item {
        display: flex;
        flex-direction: column;
        margin-left: 0px;
        align-items: flex-start;
    }

    .news_list {
        gap: 20px;
    }

    .category_buttons {
        order: 1;
        margin: 0 auto;
    }

    .news_date {
        order: 2;

    }

    .news-heading {
        order: 3;
        font-size: 15px;
    }


    .category_button-event {
        margin-right: 0px;
    }

    .category_button-new {
        margin-right: 0px;
    }

    .category_button-test {
        margin-right: 0px;
    }


}


/* インフォメーション */

.info_section {
    margin-bottom: 149px;
}

.info_wrap.wrapper {
    /* スタイル指定 */
    width: 84%;
    max-width: 1200px;
    margin: 0 auto;
}


.info_title {
    display: flex;
    justify-content: flex-start;
    width: 21%;
}


.info_title-jp {
    display: inline-block;
    font-weight: normal;
    font-size: 14px;
    position: relative;
    padding-top: 79px;
    margin-left: 5px;
    /* 英語タイトルと揃えるために余白調整 */
    text-align: left;
    writing-mode: vertical-rl;
}

.info_title-en {
    display: block;
    text-align: left;
    font-size: 48px;
    font-weight: 200;
    text-transform: uppercase;
    margin-left: 5px;
    letter-spacing: 0.2em;
    padding-top: 2px;
    writing-mode: vertical-rl;
}

.info_title-jp::before {
    content: '';
    position: absolute;
    left: 52%;
    top: 2%;
    width: 1px;
    height: 71px;
    background-color: #1C81A6;


}

.info_content {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 150px 0px;
}


.info_inner {
    display: flex;
    flex-direction: column;
    width: 93%;
    gap: 26px;
    text-align: left;
    justify-content: flex-start;
    padding-top: 14px;
}


.info_item-wrap {
    display: flex;
    flex-direction: column;
    width: 79%;
}


.info_item-main {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;

    margin-bottom: 50px;

}

.info_item {
    display: flex;
    justify-content: flex-start;
    font-size: 17px;
    color: #4A4A4A;

}




.info-introduction {
    display: flex;
    flex-direction: column;
    width: 46%;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: #F3FBFE;
    padding-bottom: 30px;
}

.info-img {
    width: 100%;
    height: auto;
}



.school-info {
    font-size: 24px;
    font-weight: bold;
    color: #4A4A4A;
    position: relative;
    display: inline-block;
    width: 100%;
    text-align: left;
}

.school-info::after {
    content: '';
    position: absolute;
    left: 50%;
    /* 水平方向の中央に配置 */
    top: 100%;
    /* 文字の下に配置 */
    width: 100%;
    /* 横線の長さ */
    height: 1px;
    /* 横線の太さ */
    background-color: #4A4A4A;
    /* 横線の色 */
    transform: translateX(-50%);
    /* 水平方向に中央揃え */
    margin-top: 15px;
    /* 文字と横線の間隔を調整 */
}

.info_text {
    width: 80%;
    display: flex;
    justify-content: flex-start;
    text-align: left;
    flex-wrap: wrap;
    gap: 5px;
    font-size: 16px;
}


.info_text.ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.info_item {
    position: relative;
    padding-left: 0;
    /* デフォルトの余白を削除 */
    display: flex;
    align-items: center;
    /* チェックと文字を縦中央揃え */
}


.info_item::before {
    content: '';
    display: inline-block;
    position: relative;
    width: 10px;
    height: 5px;
    border-left: 2px solid #000;
    /* 線の太さ */
    border-bottom: 2px solid #000;
    /* 線の太さ */
    transform: rotate(-45deg);
    /* チェックマークに回転を適用 */
    margin-right: 2px;
    /* チェックと文字の間隔 */
}

.school-system {
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: flex-start;
    /* 左寄せにする */
}


/* よくある質問のボタン */
.button-link02 {
    display: block;
    text-align: center;
    text-decoration: none;
    margin: auto;
    padding: 68px 0px;
    width: 100%;
    font-weight: bold;
    border: 2px solid #73BAD5;
    background: #73BAD5;
    color: #fff;
    transition: 0.5s;
    border-radius: 20px;
    font-size: 24px;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    text-decoration: none;
}

/* ボタン内のテキスト */
.button_action02 {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    z-index: 10;
    /* テキストを前面に表示 */
    position: relative;
    /* 円より前面に配置 */
}



.button-link02::before {
    content: "";
    display: block;
    position: absolute;
    width: 26px;
    height: 1px;
    background: #1C81A6;
    bottom: 46%;
    right: 97px;
    transition: all 0.3s;
    z-index: 9999;
}

.button-link02::after {
    content: "";
    display: block;
    position: absolute;
    width: 12px;
    height: 1px;
    background: #1C81A6;
    rotate: 40deg;
    right: 95px;
    bottom: 48%;
    transition: all 0.3s;
    z-index: 9900;
}

.button-link02:hover::after,
.button-link02:hover::before {
    translate: 14px 0;
    transition: all 0.3s;
}

/* ホバー時のスタイル */
.button-link02:hover {
    background: #5cb4d7;
    color: #fff;
}



/* 円を作成 */
.button-circle {
    position: absolute;
    bottom:
        10%;
    right: 5%;
    transform: translate(-50%, -50%);
    /* 中央揃え */
    width: 60px;
    height: 60px;
    background-color: #fff;
    border: 2px solid #73BAD5;
    /* 円の枠線 */
    border-radius: 50%;
    z-index: 5;
    transition: 0.5s;
}

@media screen and (max-width: 762px) {

    .info_section {
        margin-bottom: 90px;
    }

    .info_wrap.wrapper {
        width: 80%;
        max-width: 402px;

    }

    .info_inner {
        gap: 0px;
    }

    .info_item-main {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 84%;
        margin: 0 auto;
        margin-bottom: 35px;
    }

    .info-introduction {
        width: 100%;
        padding-bottom: 10px;

    }

    .info_content {
        display: flex;
        flex-direction: column;
        margin-top: 90px;
        margin-bottom: 60px;
    }

    .info_title {
        margin: 0 auto;
        width: fit-content;
        flex-direction: column-reverse;
        margin-bottom: 50px;
    }


    .info_title-jp {
        writing-mode: horizontal-tb;
        font-size: 14px;
        padding-left: 90px;
        padding-top: 0px;
    }

    .info-img {
        width: 100%;
        height: 172px;
        object-fit: cover;
    }


    .info_title-en {
        writing-mode: horizontal-tb;
        font-size: 36px;
    }

    .info_title-jp::before {
        content: '';
        position: absolute;
        left: 0%;
        top: 50%;
        width: 90px;
        height: 1px;
        background-color: #1C81A6;

    }

    .info_item-wrap {
        width: 100%;
        margin: 0 auto;
    }

    .info_text {
        display: flex;
        flex-direction: column;
        gap: 0px;
    }

    .button-link02 {
        padding: 13px 83px 17px 39px;
        font-size: 20px;
    }

    .button-link02::after {
        right: 47px;
        bottom: 54%;
        width: 5px;

    }

    .button-link02::before {
        right: 48px;
        bottom: 52%;
        width: 10px;
    }

    .button-circle {
        width: 30px;
        height: 30px;
        bottom: 3%;
        right: 7%;
    }

    .school-info {
        font-size: 20px;
    }
}






/* ここからコンタクトセクション */

.contact_section.wrapper {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    height: auto;

}

.contact_section {
    position: relative;
    /* 擬似要素を重ねるため */
    height: auto;
    width: 100%;
    background-color: #EDFAFF;
    padding-bottom: 232px;
}




.contact_section::before {
    z-index: 0;
    /* 背景色より背面に */
    content: '';
    font-family: 'shape divider from ShapeDividers.com';
    position: absolute;
    z-index: 3;
    pointer-events: none;
    background-repeat: no-repeat;
    bottom: -0.1vw;
    left: -0.1vw;
    right: -0.1vw;
    top: -0.1vw;
    background-size: 150% 110px;
    background-position: 50% 100%;
    background-image: url('data:image/svg+xml;charset=utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 35.28 2.17" preserveAspectRatio="none"><path d="M35.28 1.67c-3.07-.55-9.27.41-16.15 0-6.87-.4-13.74-.58-19.13.1v.4h35.28z" fill="%23ffffff"/><path d="M35.28 1.16c-3.17-.8-7.3.4-10.04.56-2.76.17-9.25-1.47-12.68-1.3-3.42.16-4.64.84-7.04.86C3.12 1.31 0 .4 0 .4v1.77h35.28z" opacity=".5" fill="%23ffffff"/><path d="M35.28.31c-2.57.84-7.68.3-11.8.43-4.1.12-6.85.61-9.57.28C11.18.69 8.3-.16 5.3.02 2.3.22.57.85 0 .87v1.2h35.28z" opacity=".5" fill="%23ffffff"/></svg>');
}



.contact_section::after {
    z-index: 2;
    /* 背景色より前面に */
    content: '';
    font-family: 'shape divider from ShapeDividers.com';
    position: absolute;
    z-index: 3;
    pointer-events: none;
    background-repeat: no-repeat;
    bottom: -0.1vw;
    left: -0.1vw;
    right: -0.1vw;
    top: -0.1vw;
    background-size: 150% 110px;
    background-position: 50% 0%;
    background-image: url('data:image/svg+xml;charset=utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 35.28 2.17" preserveAspectRatio="none"><path d="M0 .5c3.07.55 9.27-.42 16.14 0 6.88.4 13.75.57 19.14-.11V0H0z" fill="%23ffffff"/><path d="M0 1c3.17.8 7.29-.38 10.04-.55 2.75-.17 9.25 1.47 12.67 1.3 3.43-.17 4.65-.84 7.05-.87 2.4-.02 5.52.88 5.52.88V0H0z" opacity=".5" fill="%23ffffff"/><path d="M0 1.85c2.56-.83 7.68-.3 11.79-.42 4.1-.12 6.86-.61 9.58-.28 2.73.33 5.61 1.17 8.61 1 3-.19 4.73-.82 5.3-.84V.1H0z" opacity=".5" fill="%23ffffff"/></svg>');
}

@media (min-width:2100px) {
    .shapedividers_com-8873::before {
        background-size: 150% calc(2vw + 110px);
    }
}

@media (min-width:2100px) {
    .contact_section:before {
        background-size: 150% calc(2vw + 110px);
    }
}




.contact_title {
    display: flex;
    flex-direction: column;
    z-index: 9999;
}

.contact_title-en {
    display: block;
    text-align: left;
    font-size: 48px;
    font-weight: 200;
    text-transform: uppercase;
    margin-left: 0;
    letter-spacing: 0.2em;
    padding-top: 2px;
    z-index: 9999;
}


.contact_title-jp {
    display: block;
    font-weight: normal;
    font-size: 14px;
    position: relative;
    margin-left: 96px;
    /* 英語タイトルと揃えるために余白調整 */
    text-align: left;
    z-index: 9999;
}

.contact_title-jp::before {
    content: '';
    position: absolute;
    left: -5%;
    top: 50%;
    width: 90px;
    height: 1px;
    background-color: #1C81A6;
    transform: translate(-50%);
    z-index: 9999;
}



.contact_wrap {
    margin-top: 57px;
    width: 72%;
    margin: 0 auto;

}

.contact_inner {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 65px;
}


.contact-main_content {
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 48%;
    padding: 15px 12px 71px 12px;
    background-color: #fff;
    height: 305px;
    border-radius: 12px;
    position: relative;

    transition: all 0.3s;


}

.open-campus_inner {
    font-size: 18px;
    color: #4A4A4A;
}

.contact-main_content::before {
    content: "";
    position: absolute;
    inset: 0;
    border: 1px solid transparent;
    border-radius: 12px;
    transition: all 0.3s;
    pointer-events: none;
}

.contact-main_content:hover::before {
    border-color: #1C81A6;
}


.contact-sub_content02 {

    padding: 38px 0px 45px;
    background-color: #fff;
    text-align: center;
    color: #4A4A4A;
    position: relative;
    transition: all 0.3s;
    font-size: 18px;
}

.contact-sub_content02::before {
    content: "";
    position: absolute;
    inset: 0;
    border: 1px solid transparent;
    border-radius: 12px;
    transition: all 0.3s;
    pointer-events: none;
}

.contact-sub_content02:hover::before {
    border-color: #1C81A6;
}

.contact-sub_box {
    display: flex;
    flex-direction: column;
    gap: 19px;
    width: 49%;

}

.contact-sub_content01 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 56px 0px;
    color: #4A4A4A;
    font-size: 18px;
    gap: 18px;
}

.contact-link2 {
    display: block;
    width: 100%;
    text-decoration: none;
}


.contact_sub-inner01 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #ffffff;

    border-radius: 12px;

    position: relative;
    transition: all 0.3s;
}

.contact_sub-inner01::before {
    content: "";
    position: absolute;
    inset: 0;
    border: 1px solid transparent;
    border-radius: 12px;
    transition: all 0.3s;
    pointer-events: none;
}

.contact_sub-inner01:hover:before {
    border-color: #1C81A6;
}


.contact_sub-inner02 {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 100%;
    gap: 10px;

    border-radius: 12px;

    position: relative;
    transition: all 0.3s;
}



.contact-img01 {
    display: block;
    margin-bottom: 10px;
}

.line-contact-img {
    display: inline-block;
    text-align: center;

}

.document-img {
    display: block;
}

.contact_sub-inner {
    display: flex;
    justify-content: center;
    align-items: center;
}


@media screen and (max-width: 762px) {

    .contact_wrap {
        width: 75%;
        margin-top: 100px;
    }

    .contact_section {
        padding-bottom: 100px;
    }

    .contact_inner {
        padding-top: 50px;
        gap: 15px;
    }

    .contact-main_content {
        width: 100%;
        height: auto;
        padding: 10px 7px 13px 7px;
    }

    .copen-campus_info {
        padding-top: 8px;
        padding-bottom: 13px;
    }

    .contact-img01 {
        margin-bottom: 8px;
    }

    .contact-link {
        display: block;
        text-decoration: none;
    }


    .contact_title {
        margin: 0 auto;
        width: fit-content;
    }

    .contact_title-en {
        font-size: 48px;
    }

    .contact_title-jp::before {
        left: -30%;
    }

    .contact_inner {
        display: flex;
        flex-direction: column;
    }

    .open-campus_info {
        display: block;
        width: 100%;
        margin: 0 auto;
    }

    .contact-sub_box {
        width: 100%;
    }

    .contact-sub_content01 {
        padding: 33px 0px;
        gap: 9px;
        padding: 20px 0px;

    }

    .contact-img {
        max-width: 17px;
        min-height: 17px;
    }

    .contact-img-sub {
        max-width: 17px;
        min-height: 17px;
        margin-bottom: 10px;
        margin: 0 auto;
    }
}


/* ここから資格取得実績セクション */



.achievements_wrap.wrapper {
    width: 69%;
    max-width: 1000px;
    margin: 0 auto;
}



.achievements_section {
    display: flex;
    flex-direction: column;
    margin-top: 149px;
}


.achievements_content {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 100px;
}

.achievements-link {
    display: block;
    text-decoration: none;
}



.achievements_title-jp {
    display: inline-block;
    font-weight: normal;
    font-size: 14px;
    position: relative;
    padding-left: 102px;
    margin-left: 0px;
    /* 英語タイトルと揃えるために余白調整 */
    text-align: left;
}

.achievements_title-jp::before {
    content: '';
    position: absolute;
    left: 5%;
    top: 50%;
    width: 90px;
    height: 1px;
    background-color: #1C81A6;
    transform: translate(-50%);
}

/* 英語タイトル */
.achievements_title-en {
    display: block;
    text-align: left;
    font-size: 48px;
    font-weight: 200;
    text-transform: uppercase;
    margin-left: 0;
    letter-spacing: 0.2em;
    padding-top: 2px;
}

.achievements_title {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
}

.achievements_inner {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
    width: 100%;
    padding-bottom: 10px;
    width: 100%;
}

.only-mobile {
    display: none;
}


.achievement-img {
    width: 100%;
    height: auto;
}

.average-rate {
    font-size: 32px;
    color: #4A4A4A;
    line-height: 150%;
    border-bottom: 1px solid #4A4A4A;

}

.small {
    font-size: 25px;
}

.achievements_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

}

.accordion:nth-child(1) {
    padding-bottom: 39px;
    /* 1つ目の間隔 */
}

.accordion:nth-child(2) {
    padding-bottom: 44px;
    /* 2つ目の間隔 */
}

.accordion:nth-child(3) {
    padding-bottom: 44px;
    /* 3つ目の間隔 */
}

.accordion:nth-child(4) {
    padding-bottom: 45px;
    /* 3つ目の間隔 */
}



/* 取得できる資格はこちらの矢印ボタン */

/* ここからアンケート結果 */




.questionnaire_inner {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 30px;
    gap: 45px;
}



.questionnaire_title {
    text-align: center;
    /* 親要素に中央揃えを設定 */
}

.graduate-questionnaire {
    display: inline-block;
    /* inline-blockで表示 */
    font-size: 32px;
    letter-spacing: 5%;
    color: #4A4A4A;
}

.questionnaire_content {
    margin-top: 80px;
}

/* ここからアコーディオン */

.achievements_accordion {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 30px;

}

.accordion {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-color: #F5FCFF;
}

.accordion__summary {
    display: block;
    width: 100%;
    text-align: center;
    color: #fff;
    background: #1C81A6;
    font-size: 23px;
    font-weight: bold;
    position: relative;
    display: block;
    cursor: pointer;
    padding: 10px 38px 10px 10px;
}

.accordion__summary::after {
    content: "+";
    font-size: 1.4em;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.accordion input:checked~.accordion__summary::after {
    content: "−";
}

.accordion input {
    display: none;
}

.accordion__detail {
    display: none;
    background: #fff;
    padding: 4px 10px;
    margin: 10px 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    opacity: 0;
    transform: scaleY(0);
    transition: opacity 0.3s, transform 0.3s;
}

.accordion input:checked~.accordion__detail {
    display: flex;
    opacity: 1;
    transform: scaleY(1);
}

.accordion__text {

    margin: 0 auto;
    font-size: 20px;
    font-weight: 400;

    color: #4A4A4A;
    line-height: 200%;
    width: 80%;
}



@media screen and (max-width: 762px) {

    .accordion__text {
        font-size: 16px;
    }

    .achievements_accordion {
        margin-top: 60px;
    }

    .achievements_wrap.wrapper {
        width: 100%;
    }

    .achievements_inner {
        display: flex;
        flex-direction: column;
        width: 80%;
        padding-bottom: 50px;
    }

    .achievements_section {
        margin-top: 100px;
    }

    .achievements_title {
        margin: 0 auto;
        width: fit-content;
    }

    .achievements_title-en {
        font-size: 36px;
    }

    .achievements_title-jp {
        font-size: 14px;
        padding-left: 98px;
    }

    .achievements_title-jp::before {
        left: 18%;
    }

    .achievements_content {
        margin-top: 62px;
    }

    .average-rate {
        display: inline;
        width: 100%;
        text-align: center;
        line-height: 80%;
        width: 80%;
    }



    .small {
        font-size: 25px;
    }

    .only-mobile {
        display: inline;
    }


    .button-link03 {
        margin-left: 0;
    }


    .accordion__text {
        text-align: left;
        margin: 0 auto;
    }

    .questionnaire_content {
        margin-top: 50px;
    }

    .accordion:nth-child(1) {
        padding-bottom: 10px;
        /* 1つ目の間隔 */
    }

    .accordion:nth-child(2) {
        padding-bottom: 0px;
        /* 2つ目の間隔 */
    }

    .accordion:nth-child(3) {
        padding-bottom: 0px;
        /* 3つ目の間隔 */
    }

    .accordion:nth-child(4) {
        padding-bottom: 0px;
        /* 3つ目の間隔 */
    }

    .accordion__summary {
        padding: 17px 50px;
    }

}


/* ここからインタビュー */
.interview_section {
    margin-top: 149px;

}

.interview_wrap.wrapper {
    width: 86%;
    max-width: 1200px;
    margin: 0 auto;
    /* 中央揃え */
}



.interview_title {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 83%;
    margin: 0 auto;
}

.interview_title-jp {
    display: inline-block;
    font-weight: normal;
    font-size: 14px;
    position: relative;
    padding-left: 100px;
    margin-left: 0px;
    /* 英語タイトルと揃えるために余白調整 */
    text-align: left;
}

.interview_title-jp::before {
    content: '';
    position: absolute;
    left: 5%;
    top: 50%;
    width: 90px;
    height: 1px;
    background-color: #1C81A6;
    transform: translate(-50%);
}


.interview_title-en {
    display: block;
    text-align: left;
    font-size: 48px;
    font-weight: 200;
    text-transform: uppercase;
    margin-left: 0;
    letter-spacing: 0.2em;
    padding-top: 2px;
}

.interview_item {
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: flex-start;
    margin-top: 68px;
    height: 100%;
}

.interview_inner {
    display: flex;
    flex-direction: column;
    width: 29%;
    align-items: center;

    height: 100%;
    align-items: stretch;
    /* 高さを揃える */

}

.interview-box {
    padding-top: 13px;
    padding-bottom: 30px;
    text-align: left;
    min-height: 347px;
    margin-bottom: 49px;
    background-color: #EDFAFF;
}

.interviewed-person {
    font-size: 24px;
    font-weight: bold;
}

.graduation-course {
    font-size: 20px;
    font-weight: bold;
}

.small-name {
    font-size: 15px;
    font-weight: bold;
}

.occupation {
    font-size: 16px;
    font-weight: bold;
}

.interview-box-small01 {
    display: flex;
    flex-direction: column;
    width: 88%;
    min-height: auto;
    gap: 30px;
    margin: 0 auto;
    padding-bottom: 31px;
}

.interview-box-small02 {
    display: flex;
    flex-direction: column;
    width: 88%;
    min-height: auto;
    gap: 30px;
    margin: 0 auto;
    padding-bottom: 31px;
}

.interview-box-small03 {
    display: flex;
    flex-direction: column;
    width: 88%;
    min-height: auto;
    gap: 30px;
    margin: 0 auto;
    padding-bottom: 8px;
}


.interviewed-text {
    font-size: 15px;
    color: #4A4A4A;
    line-height: 160%;
    font-weight: 500;
}

.occupation p {
    margin: -5px 0;
    /* 上下の間隔を5pxに */
}


@media screen and (max-width: 762px) {
    .questionnaire_inner {
        display: flex;
        flex-direction: column;
        align-self: center;
    }

    .interview_item {
        display: flex;
        flex-direction: column;
        align-self: center;
    }

    .interview_inner {
        width: 100%;
    }


    .interview_section {
        margin-top: 100px;
    }

    .interview-box {
        margin-bottom: 43px;
    }
}






/* 卒業生の右上の文字調整 */


.interview-introduction {
    position: relative;
    display: inline-block;
    width: 100%;
    max-width: 348px;
    height: auto;
    /* 高さは自動調整 */
    overflow: visible;
    transition: all 0.5s;
}


.info-link {
    display: block;
    text-decoration: none;
}

.interview-img {
    object-fit: cover;
    transition: transform 0.5s ease;
    object-fit: cover;
    z-index: 10;
}



.interview-img:hover {
    transform: scale(1.05);
}

.graduate {
    position: absolute;
    top: 0%;
    left: 0%;
    font-size: 20px;
}





/* ここからGoogleマップアクセスセクション*/


.googlemap_section.wrapper {
    width: 69%;
    max-width: 1000px;
    margin: 0 auto 240px auto;
    height: auto;
}


.googlemap_wrap {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 57px;

}

.googlemap_inner {
    display: flex;
    justify-content: space-around;
    width: 57%;

}


.googlemap-sub_wrap {
    width: 43%;
    display: flex;
    justify-content: flex-end;
    padding: 78px 0px 90px 0px;
}

.googlemap-sub_box {
    display: flex;
    flex-direction: column;
    width: 61%;
    gap: 29px;
}

.googlemap_title {
    font-size: 24px;
    font-weight: bold;
    color: #4A4A4A;
}

.googlemap_text {
    font-size: 16px;
    font-weight: 300;
    color: #4A4A4A;

}

@media screen and (max-width: 762px) {

    .googlemap_section.wrapper {
        width: 75%;
        max-width: 302px;
        margin: 0 auto;
    }

    .googlemap_wrap {
        display: flex;
        flex-direction: column;
        align-self: center;
    }

    .googlemap_inner {
        width: 100%;
    }

    .googlemap-sub_box {
        width: 100%;
    }


    .googlemap-sub_wrap {
        width: 100%;
        padding: 0px;
    }


}



/* ここからスクロール*/
.scroll-container {
    display: flex;
    overflow: hidden;
    width: 100%;
    white-space: nowrap;
}

.scroll-content {
    display: flex;
    animation: scroll 25s linear infinite;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

.scroll-infinity__wrap {
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
    padding-bottom: 30px;
}

.scroll-infinity__list {
    display: flex;
    flex-wrap: nowrap;
    margin-right: 30px;
    /* リスト間の間隔調整 */
    flex-shrink: 0;
    /* 幅が縮まないように設定 */
}

.scroll-infinity__list--left {
    animation: infinity-scroll-left 80s infinite linear 0.5s both;
}

.scroll-infinity__item {
    flex: 0 0 auto;
    width: 300px;
    /* 各アイテムの幅 */
    height: 200px;
    /* 高さ */
    background-color: #F3FBFE;
    margin: 0 15px;
    /* アイテムの左右の余白 */
    text-align: center;
    line-height: 200px;
}

.scroll-infinity {
    overflow-x: hidden;
    /* 画像が親要素を超えて表示されないように */
}

@keyframes infinity-scroll-left {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

@keyframes infinity-scroll-right {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0%);
    }
}

.scroll-infinity__list--right {
    animation: infinity-scroll-right 80s infinite linear 0.5s both;
}

@media screen and (max-width: 762px) {
    .scroll-infinity__wrap {
        padding-bottom: 0px;
    }

    .scroll-infinity__item {
        width: 195px;
        height: 130px;
        padding: 0px;
        background-color: #F3FBFE;
        margin: 0 5px 10px 5px;
        text-align: center;
        line-height: 130px;
    }

    .scroll-img {
        width: 100%;
        height: auto;
        object-fit: contain;
        min-width: 100%;
    }
}